.credit_cards-show
  .credit_cards-show-frame
    .credit_cards-show-title
      登録クレジットカード情報
    .credit_cards-list
      .credit_cards-list-frame
        .credit_card_info
          .credit_card_info-brand
            = image_tag(image_path("credit_cards/#{@card_src}"), class: "credit_card_info__brand__img", alt: @card_brand, size: "50x70")
          .credit_card_info-numbers
            .credit_card-number
              = "**** **** **** " + @customer_card.last4
            .expiration_date
              .expiration_date__title
                有効期限
              .expiration_date__info
                = @exp_month + " / " + @exp_year
        .destroy__function
          .destroy-function-link
            = link_to credit_card_path, method: :delete, class: "destroy-function-link-btn" do
              削除する