.header
  .main-header
    .mypage-logo
      = link_to image_tag("material/logo/logo.png", alt: "image", class: "mypage-logo", :size => '300x100'), root_path
    .userInfo
      .userImage
        %label{class: "userImage-label"}
          -# = fa_icon 'user', class: "userImage-label__icon"
          %input{type: "file", class: "userImage-file"}
      .userName
        ユーザーネーム
        //@user.nickname
      .userBtn
        = link_to 'ログアウト', root_path, method: :delete, class: "logout-Btn"
  .important-message
    ※初めての方は必ず「お届け先情報」・「クレジットカード」を登録してください
  %ul.menu-list
    %li.menu-list__shopping
      = link_to '買い物ページへ', root_path, class:'user-btn'
    %li.menu-list__categori
      = link_to 'カテゴリ一覧へ', root_path, class:'user-btn'
    %li.menu-list__brand
      = link_to 'ブランド一覧へ', root_path, class:'user-btn'
    %li.menu-list__trade
      = link_to '出品する', root_path, class:'user-btn'
    %li.menu-list__profile
      = link_to 'お届け先情報・登録', new_address_path, class:'user-btn'
      = link_to 'お届け先情報・編集', edit_address_path, class:'user-btn'
    %li.menu-list__credit
      = link_to 'クレジット登録', new_credit_card_path, class:'user-btn'
      = link_to 'クレジット詳細', credit_card_path, class:'user-btn'

.contents-box-2
  .user-trade-contents
    .user-shoppingInfo
      <<取引一覧>>
      %ul.shopping
        %li.shopping-content
          【購入履歴】
          //購入履歴がありません、仮の履歴を記載
          .shopping-list
            .itemName
              商品名
              %br/
              筆
            .item-shopping-date
              購入日
              %br/
              2020/09/01
            .item-shopping-seller
              相手ユーザー
              %br/
              佐藤
            .item-shopping-price
              値段
              %br/
              1000円
            .iotem-shopping-payment
              支払い方法
              %br/
              口座振り込み
        %li.shopping-content
          【売却済一覧】
          //売却履歴がありません、仮の履歴を記載
          .shopping-list
            筆　売却日：2020/07/01　相手ユーザー：板橋　値段：1000円　受領方法：現金受け渡し
          .shopping-list
            靴　2020/06/01
    .userTrade 
      <<現在の取引状況>>
      %ul.tradeInfo
        %li.tradeInfo__trading 
          【出品中の商品】
          .tradeInfo-list
            - @items.each do |item|
              .tradeInfo-content
                %th.tradeInfo-itemDetails
                  %td.pick-up-itemName
                    = "#{item.name}"
                  %td.pick-up-itemPrice
                    = ": #{item.price}円"
                  %td.tradeInfo-edit-btn
                    = link_to "編集", edit_item_path(item.id), class: "user-btn", data: {"turbolinks" => false}
        %li.tradeInfo__want
          【欲しいもの一覧】
          .tradeInfo-list
            靴　2020/06/01
          