.Body
  .Logo
  = link_to image_tag("/assets/logo.png", alt: "image", class: 'logo-1')
  .Main
    .Head
      アカウントをお持ちでない方はこちら
      = link_to new_user_registration_path, class: "btn-default btn-registration" do
        新規会員登録
    .Boder
    .Section
      .Box
        = link_to "#", class: "btn-default btn-GG" do
          = icon('fab', 'google', class: "icon")
          Googleでログイン
        = link_to "#", class: "btn-default btn-FB" do
          = icon('fab', 'facebook-square', class: "icon")
          Facebookでログイン
        = link_to "#", class: "btn-default btn-Ap" do
          = icon('fab', 'apple', class: "icon")
          Appleでログイン
      = form_with model: @user, url: user_session_path, id: 'new_user', class: "Form", local: true do |f|
        .FormField__mail
          = f.email_field :email, class: 'Form__input', placeholder: 'メールアドレス'
        .FormField__mail
          = f.password_field :password, class: 'Form__input', placeholder: 'パスワード'
        .Box__FormField__mail
          = f.submit "ログイン", class: 'btn-default btn-login'
      .Forget
        = link_to "パスワードをお忘れの方", url:"#", class: 'forget'
= render 'layouts/footer'