.Body
  .Logo
  = link_to image_tag("material/logo/logo.png", alt: "image", class: 'logo-1'), root_path
  .Main
    .New-registration
      %h2 住所入力
    .Section
      -# = devise_error_messages!
      .Box
        = form_with model: @address, id: 'new_address', class: 'new_address', local: :true do |f|
          .label
            = label :name, '送付先氏名'
            %span.require
              必須
          = f.text_field :family_name, placeholder: "例)山田", class: 'input-form'
          = f.text_field :first_name, placeholder: "例)彩", class: 'input-form'
          .label
            = label :name, '送付先氏名(かな)'
            %span.require
              必須
          = f.text_field :family_name_kana, placeholder: "例)やまだ", class: 'input-form'
          = f.text_field :first_name_kana, placeholder: "例)あや", class: 'input-form'
          .label
            = label :postal_code, '郵便番号'
            %span.require
              必須
          = f.text_field :postal_code, placeholder: "例)123-4567", class: 'input-form'
          .label
            = label :prefecture_id, '都道府県'
            %span.require
              必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'input-form'
          .label
            = label :city, '市区町村'
            %span.require
              必須
          = f.text_field :city, placeholder: "例)新宿区", class: 'input-form'
          .label
            = label :house_number, '番地'
            %span.require
              必須
          = f.text_field :house_number, placeholder: "例)新宿2-19-12", class: 'input-form'
          .label
            = label :apartment, '建物名'
            %span.optional
              任意
          = f.text_field :apartment, placeholder: "例)静銀ビル5F", class: 'input-form'
          .label
            = label :contact, '電話'
            %span.optional
              任意
          = f.text_field :contact, placeholder: "例)09012345678", class: 'input-form'
          = f.submit "登録する", class: 'btn-default btn-mail'
= render 'layouts/footer'