//ヘッダービュー
%header
  .top-box
    .top-box__logo
      = link_to "/" do
        -# = image_tag "material/logo/logo.png", class: "logo", :size =>'150x50'
    .top-box__Form-box
      = form_with model: @restaurant, class: "Form", local: true do |f|
        = f.text_field 'キーワード', class: 'Form__inputText', placeholder: 'キーワードから探す'
        = f.submit '探す', class: 'Form__submit'
  .bottom-box
    .bottom-box__category
      カテゴリ
    .bottom-box__brand
      ブランド

    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      = link_to "ログイン", new_user_session_path, method: :post
      = link_to "新規会員登録", new_user_path, method: :get

= render "header-top"

//メインフィールドビュー
.main-field
  .view1
    .content
      %h2.content__text1
        %br/
        人生を変えるフリマアプリ
      %p.content__text2
        FURIMAはだれでもかんたんに出品・購入できる
        %br/ 
        フリマアプリです
      .content_btn
        .content_btn__apple
          = link_to "#", class: "content_btn__apple--icon" do
            %br
        .content_btn__google
          = link_to "#" do
            %img.googleplay-badge{:alt => "Google Play で手に入れよう", :src => "https://play.google.com/intl/us-en/badges/static/images/badges/ja_badge_web_generic.png"}/

  .view2
    %h2.subtitle
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag "material/pict/pict-reason-01.jpg", :width =>'100%'
        %h3.list__text
          %span{:style => "color:#3CCACE;"} 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag "material/pict/pict-reason-02.jpg", :width =>'100%'
        %h3.list__text
          %span{:style => "color:#3CCACE;"} シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--last
        .list__pict
          %span.number 3
          = image_tag "material/pict/pict-reason-03.jpg", :width =>'100%'
        %h3.list__text
          手数料
          %span{:style => "color:#3CCACE;"} 業界最安
        %p.list__description
          最大3%でお得に出品&amp;購入！

  .view3
    .content
      %h2.content__text1
        %br/
        会員数上昇中!!!
      %p.content__text2
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .content__btn
      .content_btn
        .content_btn__apple
          = link_to "#", class: "content_btn__apple--icon" do
            %br
        .content_btn__google
          = link_to "#" do
            %img.googleplay-badge{:alt => "Google Play で手に入れよう", :src => "https://play.google.com/intl/us-en/badges/static/images/badges/ja_badge_web_generic.png"}/
      
  .view4
    %h2.subtitle
      FURIMAの特徴
    %ul.lists
      %li.list
        .list__pict
          = image_tag "material/icon/icon-01.png", :width =>'100%'
        %h3.list__text
          %span{:style => "color:#3CCACE;"} 簡単
          にやりとりできる！
        %p.list__description
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.list
        .list__pict
          = image_tag "material/icon/icon-02.png", :width =>'100%'
        %h3.list__text
          売上金は
          %span{:style => "color:#3CCACE;"} 即日振込み
          に対応
        %p.list__description        
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.list.list--last
        .list__pict
          = image_tag "material/icon/icon-03.png", :width =>'100%'
        %h3.list__text
          %span{:style => "color:#3CCACE;"} 様々な支払い
          に対応
        %p.list__description
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .view5 
    %h2.subtitle
      ピックアップカテゴリ
      %br
      %span{:style => "color: #3CCACE; font-size: 20px; font-weight: bold; "} 新着アイテム
      // 新着アイテム一覧表示
      %section.pick-up-area
        .pick-up-area__items-box
          .pickItemImages
            - @items.first(5).each do |item|
              - if item.buyer_id.present?
                %figure.pick-up-itemImage
                  = image_tag @item.item_images
                .soldItem
                  SOLD OUT
              - else
                %figure.pick-up-itemImage
                  = image_tag @item.item_images
                  = link_to(item_path(item.id), method: :get, class: "itemBtn") do
                    .item-memo
                      .pick-up-itemName
                        = "#{item.name}"
                      .pick-up-itemPrice
                        %ul.itemDetails
                          %li.itemPrice
                            = "#{item.price}円"
                          %li.taxInclude
                            (税込み)

  .view6
    %h2.subtitle
      ブランドをお探しの方
      %br
      %span{:style => "color: #3CCACE; font-size: 20px; font-weight: bold; "} 人気のカテゴリから探す
      //ブランド一覧表示
      %section.pick-up-area
        .pick-up-area__items-box
          .pickItemImages
            %ul.pick-up-Brand
              %li.categoryBrand
                = image_tag("/assets/lady.jpg", alt: "レディース", :size => '150x185')
                = link_to "レディース", "#", class: "brandBtn"
              %li.categoryBrand
                = image_tag("/assets/man.jpg", alt: "メンズ", :size => '150x185')
                = link_to "メンズ", "#", class: "brandBtn"
              %li.categoryBrand
                = image_tag("/assets/home-elc.jpg", alt: "家電", :size => '150x185')
                = link_to  "家電", "#", class: "brandBtn"
            .otherBrand
              = link_to "その他/ブランド一覧へ", "#", class: "otherBrandBtn"
          
  //installビュー
  = render "install"

//フッタービュー
= render "footer-top"
//独立ボタン>>出品機能
= render "purchase-btn"