.Body
  .Logo
  = link_to image_tag("material/logo/logo.png", alt: "image", class: 'logo-1'), root_path
  .Main
    .Confirmation
      %h2 購入内容の確認
    .Section-1
      .Purchase-Box
        .Item
          .Item__Pic
            - @item.images.each_with_index do |image, index|
              - if index == 0
                = image_tag image.item_image.url, size: "80x80", alt: "image", class: "item1"
              - else
          .Item__Text
            .Item__Name
              = @item.name
            .Item__Price
              .Item__Price__tax
                (税込）
                = @item.delivery_fee.name
              .Item__Price__fee
                = @item.price
                円

      .Purchase-Box
        .Price
          .Payment__Price
            支払い金額
          .Payment__Fee
            = @item.price
            円
        .Point
          -# .Payment__Point
          .Payment__Point__point
            ポイント
          .Payment__Point__Text
            所有ポイント：P0

      .Purchase-Box
        .How_to-Payment
          支払い方法
        - if @user.credit_card.present?
          .purchase_function
            .credit_card_info_title
              クレジットカード登録情報
              .credit_card_info
                .credit_card_info__numbers
                  .number
                    = "**** **** **** " + @customer_card.last4
                  .expiration_date
                    .expiration_date__title
                      有効期限
                    .expiration_date__info
                      = @exp_month + " / " + @exp_year
        - else
          .How_to__Registration
          = link_to "登録してください", new_credit_card_path, class: 'registration'

      .Purchase-Box
        .How_to-Delivery
          配送先
        .Delivery__Registration
        = link_to "登録してください", url:"#", class: 'registration'

      .Purchase-Box
        .Purchase-Attention
          配送先と支払い方法の入力を完了してください。
          = link_to "#", class: "btn-default btn-purchase" do
            購入する
= render 'layouts/footer'